@model Automotive_Project.ViewModels.ForgotPasswordViewModel;

<div class="forgotPassword-page">
    <div class="forgotPassword-box">
        <h2>Forgot Password</h2>
        <br />

        <form asp-action="ForgotPassword" method="post" class="forgotPassword-form">
          <div class="form-group">
            <input asp-for="Email" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
          </div>
            <a asp-controller="Account" asp-action="Login" class="forgot-password">Back to Login</a>
            <br />
            <button type="submit">Send</button>
        </form>
    </div>
</div>