@model Automotive_Project.ViewModels.ForgotPasswordViewModel;

<div class="forgotPassword-page">
    <div class="forgotPassword-box">
        <h2>Forgot Password</h2>
        <br />
        <form class="forgotPassword-form">
            <input type="email" placeholder="Email" required />
            <a asp-controller="Account" asp-action="Login" class="forgot-password">Back to Login</a>
            <br />
            <button type="submit">Send</button>
        </form>
    </div>
</div>