<div class="container my-5">
  
  <div class="row">

    <div class="col-md-4 mb-4">
      <div class="card">
      <img src="~/images/NewTestLogo.jpg" alt="audi-logo" />
      </div>
    </div>

    <div class="col-md-4 mb-4">
       <div class="card">
          <img src="~/images/Mercedes_benz_logo1989.jpg" alt="mercedes-log" />
       </div>
    </div>

    <div class="col-md-4 mb-4">
       <div class="card">
          <img src="~/images/CreateLogoBMW.jpg" alt="bmw-log" />
       </div>
    </div>

  </div>

</div>
