@using Automotive_Project.Extensions
@{
    ViewData["Title"] = "Home Page";
}



<div style="height:400px; width:300px; margin-right: 120px;">
    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded h-100">
        <div class="tab-1">
            <select class="form-select" name="brand" onchange="this.form.submit()">
                <option value="">Choose Car Parts Model</option>
                <option value="">Audi</option>
                <option value="">BMW</option>
                <option value="">Mercedes-Benz</option>
            </select>
        </div>
        <div class="tab-2">
            <select class="form-select" name="brand" onchange="this.form.submit()">
                <option value="">Choose Car Parts Category</option>
            </select>
        </div>
        <div class="tab-3">
            <select class="form-select" name="brand" onchange="this.form.submit()">
                <option value="">Choose Car Parts Year</option>
            </select>
        </div>
        <div class="tab-4">
            <select class="form-select" name="sort" onchange="this.form.submit()">
                <option value="newest">Order By Newest</option>
            </select>
        </div>
    </div>
</div>
