@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <div class="container">
        <div class="container">
            <h2>Login</h2>
            <br />
            <form class="login-form">
                <input type="email" placeholder="Email" required />
                <input type="password" placeholder="Password" required />
                <a href="#" class="forgot-password">Forgot password?</a>
                <br />
                <button type="submit">Log in</button>
                <p class="p-text">- Or -</p>
                <a href="#" class="register-now">Register Now</a>
            </form>
        </div>
        <div class="right">
            <img src="~/images/newsroom-blogs_1600x900-1.jpg" />
        </div>
    </div>
</body>
</html>

