html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.login-page {
    display: flex;
    height: 100vh;
}

    .login-page > .login-box {
        flex: 1;
        padding: 60px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
    }

/*.right {
    flex: 1;
    background-size: cover;
    filter: blur(1px);
}*/

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

    .login-form input {
        padding: 12px;
        font-size: 14px;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 500px;
    }

.forgot-password {
    font-size: 12px;
    color: blue;
    text-decoration: none;
}

button[type="submit"] {
    padding: 12px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 500px;
    align-self: flex-start;
}

.p-text {
    margin-left: 233px;
}

.register-now {
    font-size: 12px;
    color: blue;
    text-decoration: none;
    margin-left: 220px;
}

.registration-page {
    display: flex;
    height: 100vh;
}

    .registration-page > .registration-box {
        flex: 1;
        padding: 60px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
    }

/*.right {
    flex: 1;
    background-size: cover;
    filter: blur(1px);
}*/

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

    .registration-form input {
        padding: 12px;
        font-size: 14px;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 500px;
    }



button[type="submit"] {
    padding: 12px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 500px;
    align-self: flex-start;
}

.p-text {
    margin-left: 233px;
}

.forgotPassword-now {
    font-size: 12px;
    color: blue;
    text-decoration: none;
    margin-left: 220px;
}

.forgotPassword-page {
    display: flex;
    height: 100vh;
}

.forgotPassword-page > .forgotPassword-box {
    flex: 1;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}



.forgotPassword-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.forgotPassword-form input {
    padding: 12px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 500px;
}



button[type="submit"] {
    padding: 12px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 500px;
    align-self: flex-start;
}






